@font-face {
    font-family: "Neue";
    src: url('../fonts/NeueHaasDisplayMediu.ttf');
}

html body{
    background-color: rgb(124, 124, 124);
    font-family: "Neue";
    color: white!important;
}

.container-fluid>h3{
    
    color: white!important;
}