
.img_profilo img{
    width:80%;
}

.bio{
    align-items: center;
}

.insta_logo img{
   width:5%;
   margin-top: 75px;
   margin-bottom: 100px;
}

@media only screen and (max-width:425px){
    .insta_logo img{
        width:12%;
    }
}