@font-face {
    font-family: "Neue";
    src: url('../fonts/NeueHaasDisplayMediu.ttf');
}

html body{
    background-color: rgb(124, 124, 124);
    font-family: "Neue";
    color: white;
}

.contact{
   text-align: center;
   margin-top: 30px;
   font-size: 1.5em;
}
.container{
    position:relative;
    height: 90vh;
    display:flex;
    flex-flow: column;
    justify-content: space-around;
}

.insta_logo img{
   width:3%;
   margin-top: 75px;
   margin-bottom: 100px;
   
}

@media only screen and (max-width:425px){
    .insta_logo img{
        width:8%;
    }
    .contact{
        font-size: 1em;
    }
}