@font-face {
    font-family: "Neue";
    src: url('../fonts/NeueHaasDisplayMediu.ttf');
}

html body{
    width:100vw;
    height: 100vh;
}

.menu{
    column-count: 3;
    column-gap: 0;
    height:100vh;
    z-index: 0;
}
.column{
    height: 100%;
    position:relative;
}
.column video{
    filter: grayscale(100%) brightness(50%);
    width:100%;
    height: 100%;
    position:absolute;
    object-fit: cover;
    z-index: -1;
}

a:hover,
a:visited,
a:link, 
a:active, 
a:focus, 
a:focus:hover
{
    color:white !important;
    text-decoration: none !important;
}


.overlay{
    height:100%;
    width:100%;
    font-family: "Neue";
    color:white !important;
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    text-align: center;
    z-index: 2;
}

.overlay h1{
    font-size: 7em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.overlay h3{

    font-size:2.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.filter_overlay{
    opacity:0.4;
    background-image: url('../images/scacchiera2.jpeg');
    z-index:1;
  
}


@media only screen and (max-width: 850px) {
    .overlay h1{
        font-size: 6em;
    }
}

@media only screen and (max-width: 768px) {
    .overlay h1{
        font-size: 5em;
    }
}


@media only screen and (max-width: 650px) {
    .overlay h1{
        font-size: 4em;
    }
}

@media only screen and (max-width: 500px) {
    .overlay h1{
        font-size: 2.5em;
    }
    .menu{
        column-count: 1;
    }
    .about_page{
        display:none;
    }
    .contacts_page{
        display:none;
    }
}