@font-face {
    font-family: "Neue";
    src: url('../fonts/NeueHaasDisplayMediu.ttf');
}

html body{
    width:100vw;
    height: 100vh;
    font-family: "Neue";
    color: white;
}

#overlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    color:white;
    width:100vw;
    height:100vh;
    z-index: 3;
    position:absolute;
    overflow: hidden;
    white-space: nowrap;
}

#boverlay{
    background-image: url('../images/scacchiera2.jpeg');
    filter: grayscale(100%) brightness(50%);
    opacity:0.8;
}

#overlay h1{
    color:white;
    font-size: 8em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#overlay h3{
    color:white;
    font-size:2.5em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.menu{
    column-count: 3;
    column-gap: 0;
    height:100vh;
    opacity: 0.75;
}
.column{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.column h2{
    text-decoration: none;
    color:yellow;
}
a:hover,
a:visited,
a:link, 
a:active, 
a:focus, 
a:focus:hover
{
    color:white !important;
    text-decoration: none !important;
}

.about_page{
    background-image: url('../images/about-sito.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contacts_page{
    background-image: url('../images/contact-sito-web.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.portfolio_page{
    background-image: url('../images/portfolio-sito-web.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    #overlay h1{
        font-size: 4em;
    }
}

@media only screen and (max-width: 425px) {
    #overlay h1{
        font-size: 2.5em;
    }
    .menu{
        column-count: 1;
    }
    .about_page{
        display:none;
    }
    .contacts_page{
        display:none;
    }
}