@font-face {
    font-family: "Win";
    src:url('../fonts/w95fa.woff');
}

html body{
    width:100vw;
    height: 100vh;
}
.menu{
    column-count: 3;
    column-gap: 0;
    height:100%;
}
.column{
    height: 100%;
}

a:hover,
a:visited,
a:link, 
a:active, 
a:focus, 
a:focus:hover
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none !important;
}
.overlay{
    height:100%;
    width:100%;
    font-size:3.5em;
    font-family: "Win";
    color:white !important;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
}

.overlay:hover{
    opacity:0;
}

.about_page{
    background-image: url('../images/about-sito.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contacts_page{
    background-image: url('../images/contact-sito-web.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.portfolio_page{
    background-image: url('../images/portfolio-sito-web.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .overlay{
        background-color: transparent;
    }
}

@media only screen and (max-width: 650px) {
    .menu{
        column-count: 0;
        column-gap: 0;
        display:flex;
        flex-flow: column;
        background-image: url('../images/portfolio-sito-web.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .overlay{
        background-color: transparent;
    }
    .about_page{
        background-image: none;
    }
    .contacts_page{
        background-image: none;
    }
    .portfolio_page{
        background-image: none;
    }
}
