@font-face {
    font-family: "Win";
    src:url('../fonts/w95fa.woff');
}

html body{
    width:100vw;
    height: 100vh;
    font-family: "Win";
    color: white;
}
.menu{
    column-count: 3;
    column-gap: 0;
    height:100vh;
}
.column{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.column h2{
    font-size:3em;
    text-decoration: none;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a:hover,
a:visited,
a:link, 
a:active, 
a:focus, 
a:focus:hover
{
    color:white !important;
    text-decoration: none !important;
}
.about_page{
    background-image: url('../images/about-sito.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contacts_page{
    background-image: url('../images/contact-sito-web.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.portfolio_page{
    background-image: url('../images/portfolio-sito-web.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    #overlay h1{
        font-size: 4em;
    }
}

@media only screen and (max-width: 425px) {
    #overlay h1{
        font-size: 2.5em;
    }
    .menu{
        column-count: 0;
        display:flex;
        flex-flow: column;
    }
}