@font-face {
    font-family: "Neue";
    src: url('../fonts/NeueHaasDisplayMediu.ttf');
}

html body{
    background-image: url('../images/scacchiera.jpg');
    background-repeat: repeat;
    font-family: "Neue";
    color: white;
}
.navbar a{
    font-family: "Neue" !important;
    color: white !important;
}

.columns{
    display: flex;
}
.column{
    flex:50%;
    display:flex;
    flex-flow: column;
}
.column p{
    display:block;
    width:90%;
    margin:auto;
}

@media only screen and (max-width:425px){
    .columns{
        display:block;
    }
}