@font-face {
    font-family: "Neue";
    src: url('../fonts/NeueHaasDisplayMediu.ttf');
}

html body{
    background-color: rgb(124, 124, 124);
    font-family: "Neue";
    color: white;
}

.columns{
    display: flex;
}
.column{
    flex:50%;
    display:flex;
    flex-flow: column;
}
.column img{
    display:block;
    width:100%;
    padding:15px;
}

.insta_logo img{
    width:3%;
    margin-top: 75px;
    margin-bottom: 50px;
 }

@media only screen and (max-width:425px){
    .columns{
        display:block;
    }
}