html body{
    background-image: url('../images/scacchiera.jpg');
    background-repeat: repeat;
}

.columns{
    display: flex;
}
.column{
    flex:50%;
    display:flex;
    flex-flow: column;
}
.column p{
    display:block;
    width:90%;
    margin:auto;
}

@media only screen and (max-width:425px){
    .columns{
        display:block;
    }
}