{% extends 'main.html' %}
{% load static %}
{% block content %}
        
        <div style="flex:0 0 auto" id="flexs" class="d-flex flex-sm-row-reverse flex-column container">
            <div class="d-flex align-items-center justify-content-center container-fluid p-0">
                <img class="m-auto d-block img-fluid col-8 py-4" src="{{ media_url }}{{ photo.url_immagine }}">
            </div>

            <div class="align-items-center container-fluid">
                {% for d in description %}
                    <p class="my-5 mx-3 text">
                        {{d.testo}}
                    </p>
                {% endfor %}
            </div>
        </div>    

{% endblock content %}
