@font-face {
    font-family: "Neue";
    src: url('../fonts/NeueHaasDisplayMediu.ttf');
}

html body{
    background-color: rgb(124, 124, 124);
    font-family: "Neue";
    color: white;
}
.text{
    font-size:1em;
}

@media only screen and (min-width: 576px) {
    .text{font-size: 1.25em;}
}

@media only screen and (min-width: 768px) {
    .text{font-size: 1.35em;}
}

@media only screen and (min-width: 992px) {
    .text{font-size: 1.55em;}
}

@media only screen and (min-width: 1200px) {
    .text{font-size: 2em;}
}

@media only screen and (min-width: 1400px) {
    .text{font-size: 2.5em;}
}

#flexs{
    flex:0 0 auto;
}




