html body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(124, 124, 124);
}
#photo{
    height: 100%;
    width:100%;
}
#photo a{
    width: 100%;
    height: 100%;
}
#photo img{
    display:block;
    margin:auto;
    height: 100%;
}