{% load static %}

<footer class="footer px-0 py-2 m-0 w-100">
    <a class="btn my-2 mx-auto d-block row justify-content-center align-items-center " href="https://www.instagram.com/giuliopierini_photography/" target="_blank" rel="noopener noreferrer">
        <img id="instaLogo" src="{% static '/images/insta_logo.svg' %}">
    </a>
    <p id="myname" class="py-1 px-2 m-0"> sito creato da <a href="https://github.com/leoBitto" target="_blank" rel="noopener noreferrer">Leonardo Bitto</a></p>

</footer>
