{% load static %}
<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Giulio Pierini Photography</title>
        <link rel="shortcut icon" href="{% static 'favicon/favicon_g.svg' %}"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
    </head>
    <body class="d-flex h-100" onload="handleBackground()">
    
            <div class="overlay">
                <h1>GIULIO PIERINI</h1>
                <h2 id="button">[enter]</h2>
                <h1>PHOTOGRAPHY</h1>
            </div>
            <div class="filter_overlay overlay"></div>
        
            <div id="menu" class="cover-container d-flex w-100 h-100 p-0 flex-column flex-sm-row container-fluid  align-items-center justify-content-center ">
                <div class="row container-fluid p-0 h-100">
                    <div id="about" class="col-xs-12 col-sm-4 p-0 ">
                        <video class="video" autoplay muted loop>
                            <source src="{% static '/video/about.mp4' %}" type="video/mp4" />
                        </video>
                        <a href="{% url 'main:about' %}" id="aboutbtn" class="btn text-center w-100 h-100 p-0 container-fluid align-items-center justify-content-center d-flex"></a>
                    </div>
                    <div id="portfolio" class="col-xs-12 col-sm-4 p-0">
                        <video class="video" autoplay muted loop>
                            <source src="{% static '/video/portfolio.mp4' %}" type="video/mp4" />
                        </video>
                        <a href="{% url 'main:portfolio' %}" id="portfoliobtn" class="btn text-center w-100 h-100 p-0 container-fluid align-items-center justify-content-center d-flex"></a>
                    </div>
                    <div id="contacts" class="col-xs-12 col-sm-4 p-0">
                        <video class="video" autoplay muted loop>
                            <source src="{% static '/video/contact.mp4' %}" type="video/mp4" />
                        </video>
                        <a href="{% url 'main:contacts' %}" id="contactsbtn" class="btn text-center w-100 h-100 p-0 container-fluid align-items-center justify-content-center d-flex"></a>
                    </div>
                </div><!-- .row -->
            </div>    

        <!-- mi servono due script:
            1. gestione del caricamento video/gif su safari e firefox
                a seconda della grandezza del viewport -->
        <script>

            function handleBackground() { 
              /*  if((navigator.userAgent.indexOf("Opera") || navigator.userAgent.indexOf('OPR')) != -1 ) 
                {
                   if(window.innerWidth < 576){
                        // leva tutti e tre i video
                        var videos = document.getElementsByClassName("video")
                        while(videos.length > 0) videos[0].remove()
                        // aggiungi video come sfondo a menu
                        // crea video tag
                        var video = document.createElement('video');
                        video.src = "../sito_fotografo/sito/static/video/portfolio.mp4"
                        video.autoplay = true;
                        video.muted = true;
                        video.loop = true;
                        video.classList.add("video");
                        //appendi a menu
                        document.getElementById('menu').appendChild(video);
                    }
                }
                else if(navigator.userAgent.indexOf("Chrome") != -1 )
                {
                   console.log("chrome");
                   if(window.innerWidth < 576){
                        // leva tutti e tre i video
                        var videos = document.getElementsByClassName("video")
                        while(videos.length > 0) videos[0].remove()
                        // aggiungi video come sfondo a menu
                        // crea video tag
                        var video = document.createElement('video');
                        video.src = "../static/video/portfolio.mp4"
                        video.autoplay = true;
                        video.muted = true;
                        video.loop = true;
                        video.classList.add("video");
                        //appendi a menu
                        document.getElementById('menu').appendChild(video);
                    }
                }
                else if(navigator.userAgent.indexOf("Safari") != -1)
                {
                    console.log("caso sbagliato");
                    var videos = document.getElementsByClassName('video');
                    while(videos.length > 0) videos[0].remove();
                    if(window.innerWidth < 576){
                        document.getElementById('menu').style.backgroundImage = "url('../sito_fotografo/sito/static/video/portfolio.gif')";
                        document.getElementById('menu').style.backgroundSize = "cover";
                    }else{
                        document.getElementsByClassName('about_page')[0].style.backgroundImage = "url('../sito_fotografo/sito/static/video/about.gif')";
                        document.getElementsByClassName('about_page')[0].style.backgroundSize = "cover";

                        document.getElementsByClassName('portfolio_page')[0].style.backgroundImage = "url('../sito_fotografo/sito/static/video/portfolio.gif')";
                        document.getElementsByClassName('portfolio_page')[0].style.backgroundSize = "cover";
                        
                        document.getElementsByClassName('contacts_page')[0].style.backgroundImage = "url('../sito_fotografo/sito/static/video/contact.gif')";
                        document.getElementsByClassName('contacts_page')[0].style.backgroundSize = "cover";
                    }
                    
                }
                else if(navigator.userAgent.indexOf("Firefox") != -1 ) 
                {

                    console.log("caso sbagliato");
                    var videos = document.getElementsByClassName('video');
                    while(videos.length > 0) videos[0].remove();
                    if(window.innerWidth < 576){
                        document.getElementById('menu').style.backgroundImage = "url('../sito_fotografo/sito/static/video/portfolio.gif')";
                        document.getElementById('menu').style.backgroundSize = "cover";
                    }else{
                        document.getElementsByClassName('about_page')[0].style.backgroundImage = "url('../sito_fotografo/sito/static/video/about.gif')";
                        document.getElementsByClassName('about_page')[0].style.backgroundSize = "cover";

                        document.getElementsByClassName('portfolio_page')[0].style.backgroundImage = "url('../sito_fotografo/sito/static/video/portfolio.gif')";
                        document.getElementsByClassName('portfolio_page')[0].style.backgroundSize = "cover";
                        
                        document.getElementsByClassName('contacts_page')[0].style.backgroundImage = "url('../sito_fotografo/sito/static/video/contact.gif')";
                        document.getElementsByClassName('contacts_page')[0].style.backgroundSize = "cover";
                    }
                }
                else if((navigator.userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true )) //IF IE > 10
                {
                    if(window.innerWidth < 576){
                        // leva tutti e tre i video
                        var videos = document.getElementsByClassName("video")
                        while(videos.length > 0) videos[0].remove()
                        // aggiungi video come sfondo a menu
                        // crea video tag
                        var video = document.createElement('video');
                        video.src = "../sito_fotografo/sito/static/video/portfolio.mp4"
                        video.autoplay = true;
                        video.muted = true;
                        video.loop = true;
                        video.classList.add("video");
                        //appendi a menu
                        document.getElementById('menu').appendChild(video);
                    }
                }  
                else 
                {
                    console.log("sono arrivato al caso giusto");*/
                    if(window.innerWidth < 576){
                        // leva tutti e tre i video
                        var videos = document.getElementsByClassName("video")
                        while(videos.length > 0) videos[0].remove()
                        // aggiungi video come sfondo a menu
                        // crea video tag
                        var video = document.createElement('video');
                        video.src = "{% static '/video/portfolio.mp4' %}"
                        video.autoplay = true;
                        video.muted = true;
                        video.loop = true;
                        video.classList.add("video");
                        //appendi a menu
                        document.getElementById('menu').appendChild(video);
                    }
                }
           // }

        </script>
           <!-- 2. ascolto dell'evento click su overlay-->
        <script>
            function clickHandler(){
                var overlays = document.getElementsByClassName('overlay')
                var i = 0;
                while(i < overlays.length ){
                    overlays[i].style.display = "none";
                    i++;
                } 
                var about = document.getElementById("aboutbtn");
                var portfolio = document.getElementById("portfoliobtn");
                var contacts = document.getElementById("contactsbtn");
                about.innerHTML = "About";
                about.className += " overlay2";

                portfolio.innerHTML = "Portfolio";
                portfolio.className += " overlay2";
                
                contacts.innerHTML = "Contacts";
                contacts.className += " overlay2";
                
                var i = 0;
                var videos = document.getElementsByClassName("video")
                while(i < videos.length ){
                    videos[i].style.filter = "none";
                    i++;
                }
            }
            document.getElementById("button").addEventListener("click", clickHandler);
        </script>
              


        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>