{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Giulio Pierini Photography</title>
        <link rel="shortcut icon" href="{% static 'favicon/favicon_g.svg' %}"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'menu' %}"><div class="box">C:/Giulio Pierini</div></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse sm" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <div class="box"><a class="nav-link" href="{% url 'about' %}">:/about</a></div>
                        <div class="box"><a class="nav-link" href="{% url 'portfolio' %}">:/portfolio</a></div>
                        <div class="box"><a class="nav-link" href="{% url 'contacts' %}">:/contacts</a></div>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>


<!-- VERSIONE ALTERNATIVA
<nav class="navbar navbar-expand-sm navbar-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'menu' %}">GIULIO PIERINI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 150px;">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'portfolio' %}">portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts' %}" ><u>contacts</u></a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
-->